/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor 
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/assets/images/TopAdPhoto/1593998052.jpg
public/assets/images/TopAdPhoto/1593998049.jpg
public/assets/images/TopAdPhoto/1593997300.jpg
public/assets/images/TopAdPhoto/1593997297.jpg
public/assets/images/TopAdPhoto/1593992214.jpg
public/assets/images/restauranLogo/1597071660.png
public/assets/images/restauranLogo/1594009534.png
public/assets/images/restauranLogo/1594009482.png
public/assets/images/restauranLogo/1594008992.png
public/assets/images/restauranLogo/1594003615.png
public/assets/images/restauranLogo/1594003354.png
public/assets/images/restauranLogo/1593991044.png
public/assets/images/restauranLogo/1593947666.png
public/assets/images/restauranLogo/1593939093.png
public/assets/images/popUpAdPhoto/1593992236.jpg
public/assets/images/moderators/1593990895.jpg
public/assets/images/menuPhoto/1597071680.png
public/assets/images/menuPhoto/1593976560.png
public/assets/images/menuPhoto/1593973591.png
public/assets/images/menuPhoto/1593939118.png
public/assets/images/menuPhoto/1593938200.png
public/assets/images/LinksQrLogo/1597151623.png
public/assets/images/LinksQrLogo/1597151599.png
public/assets/images/LinksQrLogo/1597151586.png
public/assets/images/LinksQrLogo/1597151553.png
public/assets/images/LinksQrLogo/1597151546.png
public/assets/images/LinksQrLogo/1597148798.png
public/assets/images/LinksQrLogo/1597148785.png
public/assets/images/LinksQrLogo/1597146823.png
public/assets/images/LinksQrLogo/1597144920.png
public/assets/images/LinksQrLogo/1597144639.png
public/assets/images/LinksQrLogo/1597082065.png
public/assets/images/LinksQrLogo/1597081072.png
public/assets/images/LinksQrLogo/1597080938.png
public/assets/images/itemPhoto/1593991468.jpg
public/assets/images/itemPhoto/1593972748.png
public/assets/images/itemPhoto/1593945284.png
public/assets/images/itemPhoto/1593945253.png
public/assets/images/itemPhoto/1593944653.png
public/assets/images/itemPhoto/1593928063.png
public/assets/images/FilesQrLogo/1597165143.png
public/assets/images/FilesQrLogo/1597161820.png
public/assets/images/FilesQrLogo/1597151905.png
public/assets/images/categoryPhoto/1593991422.jpg
public/assets/images/categoryPhoto/1593984798.png
public/assets/images/categoryPhoto/1593983562.png
public/assets/images/categoryPhoto/1593972732.png
public/assets/images/categoryPhoto/1593945142.png
public/assets/images/categoryPhoto/1593933073.png
public/assets/images/categoryPhoto/1593933035.png
public/assets/files/uploadedFiles/1597165157.pdf
env local/.env
env server/.env
public/assets/files/uploadedFiles/1597171964.pdf
public/assets/files/uploadedFiles/1597172038.pdf
public/assets/files/uploadedFiles/1597314441.pdf
public/assets/images/FilesQrLogo/1597314441.png
public/assets/images/LinksQrLogo/1597306483.png
public/assets/images/LinksQrLogo/1597311581.png
public/assets/images/LinksQrLogo/1597313713.png
